body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-content: center;
    justify-content: center;
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #F9FAF8;
    align-items: center;
    padding: 12px;
}

.head_content {
    display: flex;
    width: 1100px;
    justify-content: space-between;

}

.head_left {
    font-weight: 900;
}

.head_left, .head_right {
    align-content: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.first {
    display: flex;
    align-self: center;
    width: 1100px;
    height: 250px;
    color: #F9FAF8;
    gap: 32px;
    margin-top: 80px;
}

.first_content {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    padding: 50px;
}

.sec_1_left {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 18px;
    gap: 25px;
    flex: 1;
}

.sec_1_left_head {
    font-size: 48px;
    font-weight: 900;
}

.sec_1_right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.305);
    flex: 1;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: large;
    font-weight: 800;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 140px;
    height: 500px;
}

.second_head {
    color: #000;
    font-size: 36px;
    font-weight: 800;
    padding: 50px;
}

.second_head_content {
    display: flex;
    gap: 42px;
}

.second_head_content_container {
    display: flex;
    width: 170px;
    flex-direction: column;
    gap: 6px;
    flex-wrap: wrap;
    font-size: 18px;
    color: rgb(66, 66, 66);
    justify-content: center;
}

.second_head_content_container_box {
    display: flex;
    border: solid 4px #3882F6;
    border-radius: 10%;
    height: 150px;
}

.second_head_content_container_text {
    display: flex;
    justify-content: center;
}

.third {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.third_italic {
    display: flex;
    font-size: 36px;
    color: #1F2937; 
    font-weight: 300;
    width: 43%;
    font-style: italic;
    margin-top: 100px;
}

footer {
    display: flex;
    margin: 0;
    padding: 40px;
    justify-content: center;
    color: #F9FAF8;
    font-size: 18px;
}